<style lang="scss">
    // note how we can import global styles data (mixins, variables, etc) in a component (webpack's config.resolve.alias.styles does allow this)
    @import '~@app_vue_core_scss/global_resources/index';

    .page-content-pdp {
        background-color: darkkhaki;
        padding: 20px;
    }
</style>

<template>
    <div class="page-content-pdp">
        <h1>PDP page content</h1>
        <p>Current product ID: {{ productId }}</p>
    </div>
</template>

<script>
export default {
    name: 'AppPagePdp',
    computed: {
        productId() {
            return this.$route.params.productId;
        }
    }
};
</script>
