<style lang="scss">
    .app-main {
        padding: 20px;
        background-color: beige;

        .title {
            text-align: center;

            @media (min-width: 1024px) {
                text-align: left;
            }
        }
    }
</style>

<template>
    <div class="app-main">
        <p class="title">
            Main app component
        </p>
        <app-header/>
        <section class="main-content">
            <router-view/>
        </section>
    </div>
</template>

<script>
import Header from './header.vue';

export default {
    name: 'App',
    components: {
        'app-header': Header
    },
};
</script>
