<style lang="scss">
    // note how we can import global styles data (mixins, variables, etc) in a component (webpack's config.resolve.alias.styles does allow this)
    @import '~@app_vue_core_scss/global_resources/index';

    header {
        padding: 20px;
        background-color: darkcyan;

        .title {
            text-align: center;
        }

        .locale-part {
            @include clearfix;

            .locale-selector {
                float: left;
            }

            .current-locale {
                float: right;
            }
        }
    }
</style>

<template>
    <header>
        <p class="title">
            App header component
        </p>
        <div class="locale-part">
            <div class="locale-selector">
                <select
                    v-model="currentLocale"
                    class="locale-selection"
                >
                    <option
                        v-for="locale in locales"
                        :key="locale"
                        :value="locale"
                    >
                        {{ locale }}
                    </option>
                </select>
            </div>
            <div class="current-locale">
                Current locale: {{ currentLocale }}
            </div>
        </div>
        <app-main-menu/>
    </header>
</template>

<script>
import localesList from 'projectConfig/locales.json';
import MainMenu from './menu.vue';

export default {
    name: 'AppHeader',
    components: {
        'app-main-menu': MainMenu
    },
    data() {
        return {
            locales: localesList.localesList
        };
    },
    computed: {
        // Computed property is binded to form field. It has getter and setter that allows two-way data binding
        // with the shortest syntax
        currentLocale: {
            get() {
                return this.$store.state.currentLocale;
            },
            set(locale) {
                this.$store.commit('setLocale', locale);
            }
        }
    }
};
</script>
