<style lang="scss">
    // note how we can import global styles data (mixins, variables, etc) in a component (webpack's config.resolve.alias.styles does allow this)
    @import '~@app_vue_core_scss/global_resources/index';

    .main-menu {
        background-color: peru;

        @media (min-width: 1024px) {
            background-color: firebrick;
        }

        .menu-items-list {
            display: block;
            text-align: center;

            .page-link {
                margin: 10px;
                padding: 6px;
                display: inline-block;
                cursor: pointer;
                background-color: darkgrey;
                border-radius: 3px;

                &.active {
                    background-color: white;
                }
            }
        }
    }
</style>

<template>
    <div class="main-menu">
        <p>Main menu component</p>
        <ul class="menu-items-list">
            <li
                v-for="menuItem in menuItems"
                :key="menuItem.routeName"
                :class="{
                    active: isActiveRoute(menuItem),
                    'page-link': true
                }"
                @click="navigate(menuItem)"
            >
                {{ menuItem.title }}
            </li>
        </ul>
    </div>
</template>

<script>
import mainMenu from 'projectConfig/mainMenu.json';

export default {
    name: 'AppMenu',
    data() {
        return {
            menuItems: mainMenu.menuItems
        };
    },
    computed: {
        activeRoute() {
            return this.$route.name;
        }
    },
    methods: {
        navigate(menuItem) {
            this.$router.push({
                name: menuItem.routeName,
                params: menuItem.params || {}
            });
        },
        isActiveRoute(menuItem) {
            if (this.$route.params.productId) {
                return this.$route.params.productId === menuItem.params.productId;
            }
            return this.$route.name === menuItem.routeName;
        }
    }
};
</script>
