<style lang="scss">
    // note how we can import global styles data (mixins, variables, etc) in a component (webpack's config.resolve.alias.styles does allow this)
    @import '~@app_vue_core_scss/global_resources/index';

    .page-content-home {
        background-color: burlywood;
        padding: 20px;
    }

    h1 {
        text-align: center;
    }
</style>

<template>
    <div class="page-content-home">
        <h1>Home page content fdxfd</h1>
    </div>
</template>

<script>
export default {
    name: 'AppPageHome'
};
</script>
