.page-content-home {
  background-color: burlywood;
  padding: 20px;
}
h1 {
  text-align: center;
}

.page-content-pdp {
  background-color: darkkhaki;
  padding: 20px;
}

.main-menu {
  background-color: peru;
}
@media (min-width: 1024px) {
.main-menu {
      background-color: firebrick;
}
}
.main-menu .menu-items-list {
    display: block;
    text-align: center;
}
.main-menu .menu-items-list .page-link {
      margin: 10px;
      padding: 6px;
      display: inline-block;
      cursor: pointer;
      background-color: darkgrey;
      border-radius: 3px;
}
.main-menu .menu-items-list .page-link.active {
        background-color: white;
}

header {
  padding: 20px;
  background-color: darkcyan;
}
header .title {
    text-align: center;
}
header .locale-part::before, header .locale-part::after {
    display: table;
    content: ' ';
}
header .locale-part::after {
    clear: both;
}
header .locale-part .locale-selector {
    float: left;
}
header .locale-part .current-locale {
    float: right;
}

.app-main {
  padding: 20px;
  background-color: beige;
}
.app-main .title {
    text-align: center;
}
@media (min-width: 1024px) {
.app-main .title {
        text-align: left;
}
}


/*# sourceMappingURL=app-vue-core-bundle.css.map*/